<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
        $(function () {
            $("#navbar").load("navbar.html");
        });
    </script>
</head>
<body>
<div id="navbar"></div>

<br/>
<div class="container">
    <div class="jumbotron">
        <h3>Dashboard</h3>
        <p>Here are the games</p>
    </div>
</div>
</body>
</html>