<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
        $(function () {
            $("#navbar").load("navbar.html");
        });
    </script>

</head>
<body>

<div id="navbar"></div>

<div class="container text-center">
    <div class="mt-5">
        <h1>Welcome to MafiaLibs!</h1>
        <p>Log in to Play.</p>
    </div>
    <br/>
    <a role="button" class="btn btn-primary mb-3" href="login.html">Log In</a>
    <br/>
    <a role="button" class="btn btn-info" href="about.html">About the Game</a>
</div>
</body>
</html>