<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="../js/login.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="61123325910-bqfncmh15jgfg2o1millsnbd9k3floku.apps.googleusercontent.com">

    <script>
        $(function() {
            $("#navbar").load("/views/navbar.html");
        });
    </script>

</head>
<body>

<div id="navbar"></div>

<div class="container text-center">
    <div class="mt-5">
        <p>Log in using your Google account.</p>
    </div>
    <br/>
    <div id="my-signin2"></div>
</div>

</body>
</html>