<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/js-sha256.js"></script>
    <script src="../js/passwordChange.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
        $(document).ready(function () {
            $.get("../handlebars/navbar/", function (data) {
                $("#navbar").replaceWith(data);
            });
            return true;
        });
    </script>

</head>
<body>

<div id="navbar"></div>

<div class="container justify-content-center align-content-center text-center">
    <div class="mt-5">
        <h1>Change Password</h1>
    </div>
    <div class="mt-5 col-md-6 col-sm-12 offset-md-3">
        <div class="alert alert-danger d-none" id="error-alert" role="alert">
            An error has occured with the server. Please try again later.
        </div>
        <form class="needs-validation" id="change-password-form" onsubmit="return false" novalidate>
            <div class="form-group">
                <label for="password-input">Current Password</label>
                <input type="password" class="form-control needs-custom-validation" id="password-input" placeholder="Enter Current Password" required>
                <div class="invalid-feedback" id="password-feedback">
                    Please provide your current password.
                </div>
            </div>
            <div class="form-group">
                <label for="password-new-input">New Password</label>
                <input type="password" class="form-control needs-custom-validation" id="password-new-input" placeholder="Enter New Password" required>
                <div class="invalid-feedback" id="password-new-feedback">
                    Please provide your new password.
                </div>
            </div>
            <div class="form-group">
                <label for="password-new-confirm-input">Confirm New Password</label>
                <input type="password" class="form-control needs-custom-validation" id="password-new-confirm-input" placeholder="Enter New Password Again" required>
                <div class="invalid-feedback" id="password-new-confirm-feedback">
                    Please confirm your new password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
</body>
</html>