<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
    <script src="../../lib/jquery-3.3.1.min.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="../../lib/babel.browser.min.js"></script>
    <script src="../../lib/react.min.js"></script>
    <script src="../../lib/react-dom.min.js"></script>
    <script src="../../js/util.js"></script>
    <script type="text/babel" src="../../js/chat.jsx"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
        $(function () {
            $("#navbar").load("../../handlebars/navbar");
        });
    </script>

</head>
<body>

<div id="navbar"></div>

<br/>

<div class="container-fluid">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 float-left">
        <h5>Chat Members</h5>
        <div class="list-group" id="user-list"></div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-xs-12 float-right">
        <div id="chat-area" class="border">
            <div class="jumbotron-fluid p-2" id="chat-text-area">
                <ul class="list-unstyled" id="message-area">
                </ul>
            </div>
        </div>
        <div id="chat-enter-area" class="mt-2">
            <form autocomplete="off" onsubmit="return false" id="chat-input">
                <div class="form-group">
                    <input class="form-control" type="text" id="chat-input-field" placeholder="Enter message">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>