nav.navbar.navbar-expand-lg.navbar-dark.bg-custom
    a.navbar-brand(href='../') MafiaLibs
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='../about') About
            li.nav-item
                a.nav-link.disabled(href='../dashboard') Dashboard
        ul.navbar-nav
            li.nav-item
                if loggedin
                    a.nav-link(href='../logout') Log Out
                else
                    a.nav-link(href='../login') Log In